<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>My Fitness Pal Fitness/Meal Tracker!</h1>
  <div>By Piyushi Bishnoi and Robert Ying</div>
  <div>UNI: pb2543 and ry2242</div>
  <div>Track your daily meals, calorie intake and workouts on this app</div>


<p><a href="/workouts">List of Workouts</a></p>

<p><a href="/login">Login Here</a></p>
<p><a href="/signup">Sign In Here!</a></p>
<p><a href="/snapshots">User Snapshots</a></p>
<p><a href="/profile">User Profile</a></p>
<p><a href="/summary">User Summary</a></p>





</body>


</html>
